@media (min-width: 520px) {
  .main__info-img {
    height: 240px;
  }
}

@media (min-width: 580px) {
  .main__info-img {
    height: 280px;
  }
  .main__info-item {
    margin-bottom: 9px;
  }
  .main__info-buttons {
    margin-top: 20px;
  }
  .card__container .main__doctor-card {
    margin: 20px 20px;
    width: 100%;
  }
  .footer__info {
    padding-top: 125px;
  }
  .footer__logo {
    margin-top: 20px;
  }
  .footer__addition {
    margin-top: 20px;
  }
}

@media (min-width: 630px) {
  .main__info-img {
    height: 310px;
  }
}

@media (min-width: 680px) {
  .main__info-img {
    height: 350px;
  }
}

@media (min-width: 700px) {
  .header {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main__info-img {
    height: 400px;
  }
  .main__doctor-card__main {
    padding-top: 50px;
  }
  .main__doctor-card__service {
    margin-top: 50px;
  }
  .main__doctor-card__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__doctor-card__buttons button {
    width: 200px;
  }
  .main__doctor-card__header-info {
    margin-left: 5px;
  }
  .footer__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info-contacts {
    text-align: right;
  }
  .footer__info-contacts h3 {
    margin-right: 20px;
  }
  .footer__info-contacts__email {
    margin-right: 20px;
  }
  .footer__info-contacts__soc {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__signup {
    max-width: 350px;
  }
  .footer__signup, .footer__language {
    width: 45%;
  }
  .footer__language {
    text-align: right;
    margin-top: 43px;
    margin-right: 20px;
  }
  .footer__logo {
    margin-top: 50px;
  }
  .footer__addition {
    margin-top: 50px;
  }
}

@media (min-width: 762px) {
  .header {
    position: relative;
  }
  .header__search {
    display: none;
  }
  .header__search-desctop {
    display: block;
  }
  .main__info-img {
    height: 440px;
  }
  .main__doctor-card__place .address {
    margin-right: 5px;
  }
}

@media (min-width: 780px) {
  .main__info-img {
    height: 450px;
  }
  .card__container .main__doctor-card {
    margin: 10px auto;
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 35px;
    padding-right: 35px;
  }
  .main {
    padding-left: 35px;
    padding-right: 35px;
  }
  .main__info-img {
    height: 500px;
  }
  .card__container {
    margin-left: 10px;
  }
  .card__container .main__doctor-card {
    margin: 20px 20px;
    width: 45%;
  }
  .footer__info {
    padding-top: 195px;
  }
  .footer__inner-addition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__addition p {
    margin-right: 15px;
  }
}

@media (min-width: 1300px) {
  .main__doctor-card__header h4 {
    max-width: 220px;
  }
}

@media (min-width: 1365px) {
  .main__info-img {
    height: 600px;
  }
  .main__info {
    margin: 0 auto;
    width: 90%;
  }
  .main__doctor-title {
    margin: 0 30px;
  }
  .card__container {
    margin-left: 10px;
  }
  .card__container .main__doctor-card {
    margin: 20px 20px;
    width: 30%;
  }
}

@media (min-width: 1470px) {
  .card__container {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=media.css.map */