
@media(min-width:520px){
    .main{
        &__info-img{
            height: 240px;
        }
    }
}
@media(min-width:580px){
    .main{
        &__info-img{
            height: 280px;
        }
        &__info-item{
            margin-bottom: 9px;
        }
        &__info-buttons{
            margin-top: 20px;
        }
    }
    .card__container{
        & .main__doctor-card{
            margin: 20px 20px;
            width: 100%;
        }

    }
    .footer{
        &__info{
            padding-top: 125px;
        }
        &__logo{
            margin-top: 20px;
        }
        &__addition{
            margin-top: 20px;
        }
    }
}
@media(min-width:630px){
    .main{
        &__info-img{
            height: 310px;
        }
    }
}
@media(min-width:680px){
    .main{
        &__info-img{
            height: 350px;
        }
    }
}


@media(min-width:700px){
    .header{
        padding-left: 25px;
        padding-right: 25px;}
    .main{
        padding-left: 25px;
        padding-right: 25px;
        &__info-img{
            height: 400px;
        }
        // &__info-button-1{
        //     width: 210px;
        // }
        // &__info-button-2{
        //     width: 180px;
        // }
        // &__info-button-3{
        //     width: 140px;
        // }
        &__doctor-card__main{
            padding-top: 50px;
        }
        &__doctor-card__service{
            margin-top: 50px;
        }
        &__doctor-card__buttons{
            justify-content: space-around;
            & button{
                width: 200px;
            }
        }
        &__doctor-card__header-info{

            margin-left: 5px;
        }
        
    }
    .footer{
        &__info{
            justify-content: space-between;
        }
        &__info-contacts{
        text-align: right;
            & h3 {
                margin-right: 20px;              
            }
            &__email{
                margin-right: 20px;
            }
            &__soc{
                justify-content: flex-end;
            }
        }
        &__inner{
            display: flex;
            justify-content: space-between;
           
        }
        &__signup{
            max-width: 350px;
        }
        &__signup, &__language{
            width: 45%;
           
        }
        &__language{
            text-align: right;
            margin-top: 43px;
            margin-right: 20px;
        }
        &__logo{
            margin-top: 50px;
        }
        &__addition{
            margin-top: 50px;
        }
    }
}
@media(min-width:762px){
    .header{
        position: relative;
        &__search{
            display: none;
        }
        &__search-desctop{
            display: block;
        }
    }
    .main{
        &__info-img{
            height: 440px;
        
        }
        &__doctor-card__place{
            & .address{
                margin-right: 5px;
            }
           
        }
    }
}

@media(min-width:780px){
    .main{
        &__info-img{
            height: 450px;
        }
       
    }
    .card__container{
        & .main__doctor-card{
            margin: 10px auto;
            width: 45%;
            // margin: auto;
        }

    }
}
@media(min-width:1024px){
    .header{
        padding-left: 35px;
        padding-right: 35px;
    }
    .main{
        padding-left: 35px;
        padding-right: 35px;
            &__info-img{
                height: 500px;
            }
        }
        .card__container{
            margin-left: 10px;
            & .main__doctor-card{
                margin: 20px 20px;
                width: 45%;
            }
    
        }
    .footer{
        &__info{
            padding-top: 195px;
        }
        &__inner-addition{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__addition{
            p{
                margin-right: 15px;
            }
        }
    }
}   
@media(min-width:1300px){
    .main{
        &__doctor-card__header{
            h4{
                max-width: 220px;
            }
        }
    }
}
@media(min-width:1365px){
    .main{
        &__info-img{
            height: 600px;
        }
        &__info{
            margin: 0 auto;
            width: 90%;
        }
        &__doctor-title{
            margin: 0 30px;
        }
    }
    .card__container{
        margin-left: 10px;
        & .main__doctor-card{
            margin: 20px 20px;
            width: 30%;
        }

    }
}

@media(min-width:1470px){
   
    .card__container{
        margin-left: 30px;

    }
}
