@import 'vars';
@import 'fonts';
@import 'global';

html{
    box-sizing: border-box;

}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.slick-arrow{
    display: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
button{
    border: none;
}
button:focus{
    outline: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'MyriadPro-Regular';
    background-color: $bg-color;
}
.header{
    width: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__main-inner{
        align-items: center;
        display: flex;
    }
    &__main-inner__ava{
        width: 60px;
        height: 60px;
        background-image: url('../images/user.png');
        background-position: center -4px;
        background-repeat: no-repeat;
        background-size: auto;
        margin-right: 20px;
        border-radius: 50%;
    }
    &__main-inner__email, &__main-inner__not{
        margin-right: 20px;
        position: relative;
       .notification{
           font-size: 12px;
           padding: 6px 5px 5px 5px;
           height: 20px;
           display: flex;
           align-items: center;
           justify-content: center;
           border-radius: 1em 1em 1em 1em !important;
           position: absolute;
           color:white;
           background-color: $main-theme;
           top:-10px;
           left:8px;
        }
        .notification__email{
            left:7px;
        }
    }
  
    &__main-inner__apps{
        width: 25px;
        height: 25px;
        background-image: url('../images/apps.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    &__search{
        position: relative;
        margin-top: 20px;
    }
    &__search-input{
        padding-left: 15px;
        position: relative;
        height: 40px;
        width: 100%;
         border:  1px solid rgb(22, 57, 91);
         border-radius: 5px;
    }
    &__search-input:focus{
       outline: none;
    }
    &__search::after{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        background-image: url('../images/search.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20px;
        width: 20px;
        top:25%;
        margin-right: 15px;
    }
}
.main{
    padding: 40px 15px 0 15px; 
    &__info-img{
        padding: 20px 15px;
        color: #fff;
        height: 200px;
        background-image: url("../images/building.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        border-radius: 8px;
        & h3{
            width: 250px;
            font-size: 18px;
            margin-bottom: 10px;
        }
        & p{
            font-size: 12px;
        }
    }
    &__info-img__logo{
        position: absolute;
        top:-20%;
        background-image: url(../images/clinik-logo.png);
        background-position: center center;
        height: 80px;
        width: 80px;
        border:0.5px solid $border-color;
        border-radius: 50%;
    }
    &__info-img__text{
        position: absolute;
        bottom: 20px;
        left:15px
    }
    &__info-img__btn{
        position: absolute;
        bottom: -20px;
        right:15px;
        height: 35px;
        width: 35px;
        background-color: #fff;
        border:0.5px solid $border-color;
        border-radius: 50%;
        background-image: url(../images/arrow-down.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
    }
    &__info-items{
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
    }
    &__info-item{
        display: flex;
        align-items: center;
        line-height: 13px;
        width: 50%;
        margin-bottom: 17px;
        & img{
            margin-right:8px
        }
        &:first-child img{
            padding-left: 7px;
        }
    }
    &__info-buttons{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__info-button{
        cursor: pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        border: 1px solid lightblue;
         border-radius: 2em 2em 2em 2em !important;
         background-color: #fff;
         &:hover{
             border: 1px solid $hover-color;
         }
         &:active{
           background-color: $hover-color;
        }
    }
    &__info-button-1{
        
        width: 140px;
        height: 40px;
    }
    &__info-button-2{
     
        height: 40px;
        width: 110px;
    }
    &__info-button-3{
        width: 60px;
        height: 40px;
        &.btn-active{
            .main__info-photos{
                display: block;
            }
        }
    }
    &__info-button-4{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: url(../images/map.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__info-photos{
        max-width: 405px;
        &.slick-slider{
            visibility: hidden;
            height: 0;
        }
    }
    .show-slider{
        visibility: visible;
        height: 120px;
    }
    &__info-photo{
        border-radius: 6px;
        overflow: hidden;
    }
    &__info-photo__last{
        position: relative;
        & .blackout{
            cursor: pointer;
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            &__text{
                cursor: pointer;
                display: none;
                font-size: 14px;
                color: #fff;
                position: absolute;
                top:40%;
                width: 70px;
                left: 35%;

            }
        }
        &:hover{
            .blackout{
                display: block;
                &__text{
                    display: block;
                }
            }
        }
    }
    &__doctor{
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }
    &__doctor-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h3{
            color: rgb(22, 57, 91);
            font-weight: 100;
            font-size: 24px;
        }
        & p{
            color:$hover-color;
            text-transform: uppercase;
        }
    }
    &__doctor-card{
        border: 1px solid lightblue;
        border-radius: 6px;
        margin-top: 20px;
        background-color: #fff;
    }
    &__doctor-card__header{
        margin-top: 20px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__doctor-card__header-btn{
        position: absolute;
        border-radius: 50%;
        top:-5px;
        width: 35px;
        height: 35px;
        left:15px;
        background-image: url(../images/heart.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.5);
    }
    &__doctor-card__header-info{
        margin-top: -5px;
        margin-right: 20px;
        text-align: right;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        & h4{
            font-size: 18px;
            max-width: 135px;
            margin-bottom: 8px;
        }
        & p{
            max-width: 215px;
            color: $text-blue;
            font-size: 14px;
        }
    }
    &__doctor-card__header-ava{
        position: relative;
        width: 92px;
        height: 92px;
        background-image: url('../images/doctor-ava.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;
        border-radius: 50%;
        border: 1px solid lightblue;
        & .online__status{
            border-radius: 50%;
            position: absolute;
            height: 15px;
            width: 15px;
            bottom:2px;
            left:6px;
            background-color: #fff;
            &::after{
                content: "";
                position: absolute;
                border-radius: 50%;
                background-color: $hover-color;
                height: 9px;
                width: 9px;
                top:21%;
                left:22%;
            }
        }
        & .online__status-text{
            color: #16395b;
            font-size: 14px;
            position: absolute;
            bottom: -20px;
            left:11px;
        }
    }
    &__doctor-card__main{
       padding: 30px 15px 0 15px;
    }
    &__doctor-card__items{
        display: flex;
        justify-content: space-between;

    }
    &__doctor-card__item{
        display: flex;
        & .number{
            font-weight: 200;
            text-align: right;
            color: $text-blue;
            font-size: 16px;
        }
        & p{
            color: #707070;
            font-size: 13px;
        }
        & .icon{
            margin-left: 9px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: rgb(228, 237, 254);
            background-image: url(../images/test.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center center;
        }
    }
    &__doctor-card__place{
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        & .address{
            font-weight: 300;
            margin-right: 25px;
            font-size: 14px;
        }
        & p{
            margin-top: 3px;
            margin-right: 13px;
            text-align: right;
            color: #707070;
            font-size: 13px;
        }
        & .icon{
            margin-left: 9px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: rgb(228, 237, 254);
            background-image: url(../images/place-blue.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center center;
        }
    }
    &__doctor-card__service{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: right;
        & h3{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .consult{
            color: #707070;
            font-size: 14px;
        }
        .seans{
            color: #707070;
            font-size: 14px;
        }
        span{
            font-weight: 200;
            margin-left: 12px;
            color: black;
        }
    }
    &__doctor-card__buttons{
        padding: 35px 0 20px 0;
        margin: 0 15px 0 15px;
        display: flex;
        justify-content: space-between;
        & button{
            width: 165px;
            height: 40px;
            align-items: center;
            border: 1px solid lightblue;
            border-radius: 2em 2em 2em 2em !important;
            background-color: #fff;
        }
        & button:hover{
            border: 1px solid $hover-color;

        }
        & button:active{
            background-color: $hover-color;
        }
       
    }

}
.btn-active{
    background-color: $hover-color;
}
.show{
    margin-top: 30px;
    visibility: visible;
    height: 120px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left:0;
    right: 0;
    .slick-active{
        button{
            width: 24px;
            background-color: $hover-color;
            border-radius: 5px 5px 5px 5px !important;
        }
    }
    button{
        background-color: black;
        font-size:0;
        border:none;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 7px;
    }
}